@import "tailwindcss";


body {
    @import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@400;600;800&display=swap');
    direction: rtl;
}

.font-comic {
    font-family: 'Lalezar', cursive;
    letter-spacing: 1px;
}

.manga-bg {
    background-color: #f4f4f5;
    background-image: radial-gradient(#cbd5e1 2px, transparent 2px);
    background-size: 20px 20px;
}

.comic-panel {
    border: 3px solid #000;
    box-shadow: 6px 6px 0px 0px #000;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.comic-panel:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0px 0px #000;
}